doctype html
html
  head
    meta
    title User App
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')
    script(type='text/javascript', src='js/utils.js', charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  body
    .navbar
      ul     
        li#logBtn
          .dropdown
            if locals.user
              .dropdown
                a.dropitem(id="qsLogoutBtn" href="/logout") Logout
                img(src=user.picture)
                br
                span #{user.emails[0].value}
            else
              .dropdown
                a.dropitem(id="qsLoginBtn" href="/login") Login
    .row.form-section
      form#SIGNIN_USER.form.col-md-4
        .form-group
          h2.crud_title Signin user
          if locals.user
            label userId
            input#SIGNIN_userId.form-control(type='text', name='userId', required='', disabled='disabled')
            label First name
            input#SIGNIN_firstName.form-control(type='text', name='firstName', required='')
            label Last name
            input#SIGNIN_lastName.form-control(type='text', name='lastName', required='')
            label Birth date
            input#SIGNIN_date.form-control(type='date', name='date', required='')
            label Email
            input#SIGNIN_email.form-control(type='text', name='email', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$', title='Email does not respect the right format')
            button.btn.btn-success(type='submit') Signin
            span#messageSuccessCREATE.messageSuccess
            script(type='text/javascript').
                setUserId('#{user.user_id}');
          else
            h4 You are not logged in! Please #[a(href="/login") Log In] to continue.

  script(type='text/javascript', src='js/SIGNIN_user.js', charset='utf-8')
