doctype html
html
  head
    meta
    title User Management
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')
    script(type='text/javascript', src='js/utils.js', charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  body(onload='getAllRoles("CREATE_role"); getAllGroups("CREATE_group");')
    .navbar
      ul
        li
          .dropdown.active
            a.dropitem(href='USER_index') Users
            .dropdown-content
              a(href='CREATE_user') Create
              a(href='READ_user') Read
              a(href='UPDATE_user') Update
              a(href='DELETE_user') Delete
        li
          .dropdown
            a.dropitem(href='ROLE_index') Roles
            .dropdown-content
              a(href='CREATE_role') Create
              a(href='READ_role') Read
              a(href='UPDATE_role') Update
              a(href='DELETE_role') Delete
        li
          .dropdown
            a.dropitem(href='AUTH_index') Authorizations
            .dropdown-content
              a(href='CREATE_auth') Create
              a(href='READ_auth') Read
              a(href='UPDATE_auth') Update
              a(href='DELETE_auth') Delete
        li
          .dropdown
            a.dropitem(href='GROUP_index') Groups
            .dropdown-content
              a(href='CREATE_group') Create
              a(href='READ_group') Read
              a(href='UPDATE_group') Update
              a(href='DELETE_group') Delete
        li
          .dropdown
            a.dropitem(href='RECOVERY') Recovery
        li#logBtn
          .dropdown
            if locals.user
              .dropdown
                a.dropitem(id="qsLogoutBtn" href="/logout") Logout
                img(src=user.picture)
                br
                span #{user.emails[0].value}
            else
              .dropdown
                a.dropitem(id="qsLoginBtn" href="/login") Login
    .row.form-section
      form#CREATE_USER.form.col-md-4
        .form-group
          h3.crud_title Create user
          if locals.user
            label userId
            input#CREATE_userId.form-control(type='text', name='userId', required='')
            label First name
            input#CREATE_firstName.form-control(type='text', name='firstName', required='')
            label Last name
            input#CREATE_lastName.form-control(type='text', name='lastName', required='')
            label Date of birth
            input#CREATE_date.form-control(type='date', name='date', required='')
            .row
              .col-md-6
                label Role
                br
                select#CREATE_role.select-css
              .col-md-6
                label Group
                br
                select#CREATE_group.select-css
              br
            label Email
            input#CREATE_email.form-control(type='text', name='email', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$', title='Email does not respect the right format')
            button.btn.btn-success(type='submit') Create
            span#messageSuccessCREATE.messageSuccess
          else
            h4 You are not logged in! Please #[a(href="/login") Log In] to continue.
    script(type='text/javascript', src='js/CREATE_user.js', charset='utf-8')
    script(type='text/javascript', src='js/getAllRoles.js', charset='utf-8')
    script(type='text/javascript', src='js/getAllGroups.js', charset='utf-8')
