extends layout
block content
	
	.row.form-section
		form#DELETE_AUTH.form.col-md-4
			.form-group
				h3.crud_title DELETE AUTHORIZATION
				if locals.user
					label authId
					input#DELETE_authId.form-control(type='text', name='authId', required='')
					button.btn.btn-success(type='submit') Delete
					span#messageSuccessDELETE.messageSuccess
				else
					h4 You are not logged in! Please #[a(href="/login") Log In] to continue.
	script(type='text/javascript', src='js/DELETE_auth.js', charset='utf-8')