extends layout
block content

  h3(class="index_title") GROUP TAB
    div(class="index_aggregate")
      div(class="row")
          div(class="col-md-12")
              a(href="CREATE_group")
                button(class="button button1")
                  span CREATE 
              a(href="READ_group")
                button(class="button button2")
                  span READ 

      div(class="row")
        div(class="col-md-12")
          a(href="UPDATE_group")
            button(class="button button3")
                span UPDATE 
          a(href="DELETE_group")
              button(class="button button4")
                span DELETE 
