extends layout
block content

  .row.form-section
    form#DELETE_USER.form.col-md-4
      .form-group
        h3.crud_title DELETE USER
        label userId
        input#DELETE_userId.form-control(type='text', name='userId', required='')
        button.btn.btn-success(type='submit') Delete
        span#messageSuccessDELETE.messageSuccess
  script(type='text/javascript', src='js/DELETE_user.js', charset='utf-8')