doctype html
html
  head
    title= UserManagement
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href="css/style.css")
    link(rel="shortcut icon", href="img/favicon.png")
    script(type="text/javascript", src="js/utils.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

  body
    div(class='navbar')
      ul
        li 
          div(class="dropdown")
            a(href="USER_index", class="dropitem") User
            div(class="dropdown-content")
              a(href="CREATE_user") CREATE
              a(href="READ_user") READ
              a(href="UPDATE_user") UPDATE
              a(href="DELETE_user") DELETE

        li 
          div(class="dropdown")
            a(href="USER.html", class="dropitem") Role
            div(class="dropdown-content")
              a(href="CREATE_user.html") CREATE
              a(href="READ_user.html") READ
              a(href="UPDATE.html") UPDATE
              a(href="DELETE.html") DELETE

        li 
          div(class="dropdown")
            a(href=href="USER.html", class="dropitem") Authorization
            div(class="dropdown-content")
              a(href="CREATE_user.html") CREATE
              a(href="READ_user.html") READ
              a(href="UPDATE.html") UPDATE
              a(href="DELETE.html") DELETE

        li 
          div(class="dropdown")
            a(href=href="USER.html", class="dropitem") Group
            div(class="dropdown-content")
              a(href="CREATE_user.html") CREATE
              a(href="READ_user.html") READ
              a(href="UPDATE.html") UPDATE
              a(href="DELETE.html") DELETE

        li
          .dropdown
            a.dropitem(href='RECOVERY') Recovery

        li
          if locals.user
            a(href="/user" ).w3-bar-item.w3-button Profile
            a(id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Log Out
          else
            a(id="qsLoginBtn" href="/login").w3-bar-item.w3-button Log In

    block content
