extends layout
block content

  .row.form-section
    form#READ_USER.form.col-md-4
      .form-group
        h3.crud_title READ USER
        label userId
        input#READ_userId.form-control(type='text', name='userId')
        button#READ.btn.btn-success Search
        span#messageSuccessREAD.messageSuccess
        if locals.user
          h1 Welcome #{user.emails[0].value}
          img(src=user.picture)
          h2 User profile
          p #{userProfile}
          p #{user.user_id}
  .row
    .col-md-10
      table#tableResult
        thead
          tr
            th First Name
            th Last Name
            th Date
            th Role
            th Group
            th Email
  script(type='text/javascript', src='js/READ_user.js', charset='utf-8')